[Unit]
Description=SwiftSnapshotsBot 

[Service]
Type=oneshot
ExecStart=/usr/local/bin/SwiftSnapshotsBot {{TOKEN}}

[Install]
WantedBy=multi-user.target
